body{
font-family: 'Montserrat', sans-serif;

}




.imgi{
  width: 400px;
  height: 807;
  margin-right:0;
   margin-left: auto;
   display:block;
   transform: rotate(25deg);

}
@media (max-width: 1028px) {

  #title{
    text-align: center;
  }
  .imgi{
    position: static;
    transform: rotate(0);
  }


}

#cta{
  background-color:  #ff4c68;
}
h1{

  font-size: 3rem;
  font-family: "Montserrat-black";
  font-weight: bold;
  line-height: 1.5;

}
#cta{
    text-align: center;
    font-size: 3rem;
    font-family: "Montserrat-black";
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    padding: 7% 15%;
}
footer{
  text-align: center;
  padding: 7% 15%;
}

.download-button{
  margin: 5% 3% 5% 0;
}
.navbar{
  padding: 0 0 4.5rem;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
h3{
  font-weight: bold;
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}
p{
  color: #8f8f8f;
}
#title{
  background-color: #ff4c68;
  color: #ffff;
}
.container-fluid{
  padding: 3% 15%;
}
#feature{
padding: 7% 15%;
background-color: #fff;
}
.social-icon{
  margin: 20px 10px;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;

}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;


}
.icon:hover{
  color: #ff4c68;
}
#carouselExampleIndicators{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-img{
margin: 20px;
  width: 10%;
}
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
#pricing{
  text-align: center;
  padding: 100px;
}
.b2{

}
